body {
	font-family:verdana;
}

button, input[type="text"],select {
	width:200px;
}

table {
	width:100%;
	border-spacing:0;
}

table.main-frame {
	height: 100%;
}

tr.top-row {
	height: 30px;
}

thead, td.bold {
	font-weight:bold;
}

#top-left-region {
	background-color:#0072C3;
	padding-left:4px;
	width:200px;
}

#top-right-region {
	background-color:#0072C3;
	color:#ffffff;
	font-size:24px;
}

#bottom-left-region {
  background-color:#EFEFF1;
  vertical-align:top;
 
}

#bottom-right-region {
  vertical-align:top;
}
